
/* 
    Created on : 09/02/2017, 11:52:27 AM
    Author     : Ing.Douglas
*/

.error_field{
   border:solid red 2px; 
}

.extracto{
    border: solid black 1px;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}
.extracto td{
   font-size: 9px;
}
.titulo{
    background-color:#dddacd;
    font-size: 11px;
}

.det_pago_vacio{
    border:solid white 0px;    
}

.data th{
    background-color: #E6E6FA;
    font-size: 10px;
}
.Pendiente{
    font-weight: 900;
    color: red;
}
tr#ext_res_filtros{
    display: none;
}
tr#ext_res_filtros ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
tr#ext_res_filtros ul li input{
    display: none;
}
tr#ext_res_filtros ul li input + label:hover{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

tr#ext_res_filtros ul li input + label::before{
    content: '\2716';
    padding: 0 2px;
    margin: 0 3px;
    border-radius: 3px;
    color: red;
    border: solid 1px gray;
    font-size: 10px;
}
tr#ext_res_filtros ul li input:checked + label::before{
    content: '\2714';
    color: green;
}
tr#ext_res_filtros ul li input:disabled + label, tr#ext_res_filtros ul li input:disabled + label::before{
    color:gray;
}
tr#ext_res_filtros ul li input:disabled + label:hover{
    cursor: not-allowed;
}
